<style>
table{
border:2px ridge maroon;
}
td{
border:1px solid Maroon  ;
margin:5px;
padding:10px;
colspan:30px;
height:60px;
width:200px;
}
h1{
margin:0px 0px 50px 0px;
padding:50px;
color:red;
border:4px solid maroon;
}
body{
background-color:LightYellow ;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: #27140c;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
p{
padding:0px 0px 0px 10px;
font-size:200%;
}
</style>
<body>
<h1>Listing articles</h1>
 <p>        <b><%= link_to 'new article', new_article_path %></b></p>
<br><br>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= raw article.text %></td>
<td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
<td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</body>
