<html>
<head>
<style>
h1{
margin:20px;
padding:10px;
color:red;
background-color:LightYellow;
border:2px solid maroon;
}
div{
margin:20px;
padding:10px;
color:maroon;

border:2px solid maroon;
}
span{
margin:30px;
border:3px;
}
body{
background-color:LightYellow;
}
</style>
</head>
<body>
<h1> Article </h1>
<%= form_for :article, url: articles_path do |f|%>
<div>
 <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
   <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
</div>
</body>
<script>
$(function() {
$('#article_text').froalaEditor()
});
</script>
<%= link_to 'Back', articles_path %>
<% end %>
