<!DOCTYPE html>
<html>
<style>
a{
margin:0 30px 0 0;
}
</style>
<head>
	<% if user_signed_in? %>
	<%= link_to 'Logout',destroy_user_session_path  %>
	<% end %>     
	<% if user_signed_in? %>
	<%= link_to 'Edit', edit_user_registration_path  %>
	<% end %>
  <title>blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
